
.cases-heading {
    margin-right: 70px;
}

.cases-line {
    display: none;
    border: none;
    width: 1px;
    height: 65px;
    background: #97d28b;
}

.slider-nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 26px;
}

.number-photos p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 28px;
    letter-spacing: -0.04em;
    text-align: justify;
    color: #173d33;
}

.number-photos-grey {
    color: rgba(23, 61, 51, 0.25);
}

.arrows {
    display: flex;
    gap: 12px;
}

.arrow-left, .arrow-right {
    width: 66px;
    height: 66px;
    cursor: pointer;
}

.arrow-left:hover svg path, .arrow-left:hover svg rect,
.arrow-right:hover svg path, .arrow-right:hover svg rect {
    stroke: #97D28B;
}

.slider-img {
    width: 100%;
}

.slide-description {
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: #eaedf1;
    padding: 24px 12px 0 12px;
}

.slide-address-arrow {
    display: flex;
    justify-content: space-between;
}

.slide-address{
    width: 175px;
}

.slide-address p {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.04em;
    text-align: justify;
}

.slider-line {
    border: none;
    width: 100%;
    height: 1px;
    background: #97d28b;
    margin-top: auto;
    margin-bottom: 0px;
}

.slide-type-date {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 12px;
}

.slide-type-date p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.04em;
    text-align: justify;
}


@media (min-width: 768px) {
    .cases-flex-container {
        display: flex;
        margin-top: 100px;
        margin-bottom: 38px;
    }

    .cases-heading {
        width: 50%;
        margin: 0;
        padding-right: 50px;
    }

    .cases-line{
        display: block;
        margin: 0 11px;
    }

    .slider-nav {
        margin-bottom: 0;
        width: 50%;
    }

    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .slide-card {
        flex: 0 0 100%;
        max-width: 100%;
        transition: transform 0.5s ease-in-out;
        display: none;
    }
    
    .slide-card.active {
        display: block;
    }
    
    .slider-img {
        width: 100%;
        height: auto;
    }
    
    .slider-container {
        display: flex;
        gap: 24px;
    }

    .slide-card {
        flex: 0 0 calc(50% - 12px);
        max-width: calc(50% - 12px);
    }

    .slide-card.active {
        display: block;
    }

    .slide-address{
        width: 195px;
    }

    .slide-address p {
        font-size: 20px;
    }

    .slide-description {
        height: 154px;
    }

    .slide-type-date p {
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    .cases-line{
        height: 96px;
    }

    .slider-nav {
        padding-left: 137px;
    }

    .slider-container {
        gap: 48px;
    }

    .slide-description {
        height: 210px;
        padding: 36px 48px 0 48px;
    }

    .slide-address{
        width: 357px;
    }

    .slide-address p {
        font-size: 24px;
    }

    .slider-line {
        margin-top: auto;
        margin-bottom: -12px;
    }
    
    .slide-type-date {
        margin-top: auto;
        margin-bottom: 36px;
    }

    .slide-type-date p {
        font-size: 16px;
    }
}


