@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.cases-heading {
    margin-right: 70px;
}

.cases-line {
    display: none;
    border: none;
    width: 1px;
    height: 65px;
    background: #97d28b;
}

.slider-nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 26px;
}

.number-photos p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 28px;
    letter-spacing: -0.04em;
    text-align: justify;
    color: #173d33;
}

.arrows {
    display: flex;
    gap: 12px;
}

.arrow-left, .arrow-right {
    width: 66px;
    height: 66px;
}

.arrow-left:hover svg path, .arrow-left:hover svg rect,
.arrow-right:hover svg path, .arrow-right:hover svg rect {
    stroke: #97D28B;
}


@media (min-width: 768px) {
    .cases-flex-container {
        display: flex;
        margin-top: 100px;
        margin-bottom: 38px;
    }

    .cases-heading {
        width: 50%;
        margin: 0;
        padding-right: 50px;
    }

    .cases-line{
        display: block;
        margin: 0 11px;
    }

    .slider-nav {
        margin-bottom: 0;
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .cases-line{
        height: 96px;
    }

    .slider-nav {
        padding-left: 137px;
    }
}


