.heading {
    text-align: center;
}

.electricity-line{
    border: none;
    width: 1px;
    height: 48px;
    background: var(--light-green);
    margin: 0 auto;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
}

.numbers {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: var(--light-green);
}

.kWh {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: var(--dark-green);
}

@media (min-width: 768px) {
    .counter {
        gap: 24px;
    }
    .numbers {
        font-size: 100px;
    }
    .kWh {
        font-size: 28px;
    }
}

@media (min-width: 1280px) {
    .counter {
        gap: 24px;
    }
    .numbers {
        font-size: 164px;
    }
    .kWh {
        font-size: 48px;
    }
}