@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');



:root {
	--font-family: "Fira Sans", sans-serif;
	--second-family: "Oswald", sans-serif;
	--dark-green: #173d33;
	--light-green: #97D28B;
}


html,
body {
	color: var(--dark-green);
	background-color: #FAFAFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-transform: uppercase;
	margin-top: 36px;
	margin-bottom: 24px;
}

h3 {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--dark-green);
}

.container{
	margin: 0 20px 0 20px;
}

@media (min-width: 768px) {
	.container{
		margin: 0 30px 0 30px;
	}

	h2 {
		font-size: 36px;
		margin-top: 100px;
	}
}

@media (min-width: 1280px) {
	.container{
		margin: 0 100px 0 100px;
	}

	h2 {
		font-size: 48px;
		margin-top: 120px;
	}
}
