

.mainHeading {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 210px;
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: justify;
    padding-top: 24px;
}

.learnMore-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    
}

.green-line {
    border: none;
    height: 1px;
    background: #97d28b;
    margin-top: 24px;
}

.address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-address {
    padding-top: 8px;
    padding-bottom: 36px;
}

.ogImage {
    position: relative;
    overflow: hidden;
  }
  
  .ogImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .ogImage img {
      height: 200px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1279px) {
    .ogImage img {
      height: 348px;
    }
  }
  
  @media (min-width: 1280px) {
    .ogImage img {
      height: 524px;
    }
  }

