
.heading-wrapper {
  margin-top: 210px;
}

.main-heading {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
}

.description-wrapper {
  padding-top: 24px;
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: justify;
}

.learn-more-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.learn-more-icon-hover {
  display: none;
}

.learn-more-wrapper:hover .learn-more-icon {
  display: none;
}

.learn-more-wrapper:hover .learn-more-icon-hover {
  display: block;
}

.green-line {
    border: none;
    height: 1px;
    background: #97d28b;
    margin-top: 24px;
}

.address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.email-copyright-wrapper {
    padding-top: 8px;
    padding-bottom: 36px;
}

.main-copyright {
  display: none;
}

.ogImage {
    position: relative;
    overflow: hidden;
  }
  
.ogImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 767px) {
  .ogImage img {
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .ogImage img {
    height: 348px;
  }
}

@media (min-width: 768px) {
  .heading-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
  }

  .main-heading {
    font-size: 48px;
    letter-spacing: normal;
    width: 50%;
    padding-right: 100px;
  }

  .description-wrapper {
    width: 50%;
    padding-left: 12px;
    padding-top: 0;
  }

  .learn-more-wrapper {
    margin-top: 43px;
    margin-bottom: 26px;
    justify-content: left;
  }

  .address-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .email-copyright-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 12px;
    width: 50%;
  }

  .main-copyright {
    display: block;
  }
}


  @media (min-width: 1280px) {
    .heading-wrapper {
      margin-top: 264px;
    }

    .main-heading {
      font-size: 64px;
      width: 50%;
    }

    .description-wrapper {
      padding-left: 161px;
    }

    .learn-more-wrapper {
      margin-top: 24px;
    }

    .address-wrapper {
      margin-top: 12px;
      margin-bottom: 36px;
    }

    .email-copyright-wrapper {
      padding-left: 161px;
      width: 50%;
    }

    .ogImage img {
      height: 524px;
    }
  }
