.contacts-type {
    font-size: 16px;
}

.img-value {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 8px 0 24px 0;
}

.double-value{
    margin-bottom: 12px;
}

.img-value svg:hover path {
    stroke: #97D28B;
}

.img-value svg:hover path[fill] {
    fill: #97D28B;
}

.img-value p {
    font-size: 20px;
}

.contact-address-wrapper {
    width: 212px;
}

.socials-img {
    gap: 20px;
    padding: 12px;
}

/*----------------------------- Form styling ------------------------*/

.contact-us-heading {
    text-align: center;
}

.form {
    padding: 36px 12px;
    background: #eaedf1;
}

.field {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: justify;
    
}

input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.04em;
    color: #173d33;
    border-bottom: 1px solid #97d28b;
    padding: 8px 0;
    margin-bottom: 28px;
}

.error-input input {
  border-color: #d28b8b;
  margin-bottom: 0;
}

textarea {
    resize: none;
    height: 155px;
    border-bottom: 1px solid #97d28b;
    padding-top: 8px;
    margin-bottom: 16px;
    
}

input::placeholder, textarea::placeholder {
    color: #bdbdbd;
}

.error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.04em;
    text-align: right;
    color: #D28B8B;
    margin: 8px 0 6px;
}

.submit-wrapper {
    display: flex;
    justify-content: flex-end;
}

.submit-wrapper button {
    height: 39px;
}

.send-icon:hover rect[stroke] {
    fill: #173d33;
    stroke: #173d33;
}

.send-icon:hover path[fill] {
    fill: #97D28B;
}

@media (min-width: 768px) {
    .contact-us-heading {
        margin-bottom: 40px;
    }

    .contacts-form-wrapper {
        display: flex;
        gap: 24px;
    }

    .contacts, .form {
        width: 50%;
    }

    .form {
        padding: 36px 24px;
    }
}

@media (min-width: 1280px) {

    .contacts-form-wrapper {
        gap: 48px;
    }

    .contact-us-heading {
        margin-bottom: 120px;
    }

    .contact-address-wrapper {
        width: 466px;
    }

    .img-value {
        margin: 16px 0 32px;
    }

    .double-value{
        margin-bottom: 12px;
    }

    .img-value p {
        font-size: 24px;
    }

    .socials-img {
        gap: 8px;
        padding: 0;
    }

    .form {
        padding: 48px;
    }

    input {
        font-size: 20px;
        padding-top: 12px;
    }

    textarea {
        height: 157px;
        margin-bottom: 32px;
        padding-top: 12px;
    }
}