.header .dropdown-menu {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    width: 320px;
    height: calc(100vh - 36px);
    top: 36px;
    right: 20px;
    border-radius: 25px;
    background: rgba(23, 61, 51, 0.75);
    backdrop-filter: blur(25px);
    z-index: 10;
    display: none;
}

.header.menu-open .dropdown-menu {
    display: block;
}

.header .close-menu {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    margin-left: 19px;
    margin-top: 24px;
    margin-bottom: 8px;
    cursor: pointer;
}

.close-menu:hover svg path {
    stroke: #97D28B;
}

.close-menu:hover span {
    color: #97D28B;
}

.menu-line{
    width: 272px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto
}

.header .dropdown-menu ul {
    list-style: none;
    margin-left: 24px;
    margin-top: 24px;
}

.header .dropdown-menu li {
    margin-top: 8px;
    cursor: pointer;
}

.header .dropdown-menu li span {
    margin-right: 8px;
}

.header .dropdown-menu li:hover svg path {
    stroke: #97D28B;
}

.header .dropdown-menu li:hover span {
    color: #97D28B;
}

.header .dropdown-menu .menu-socials {
    display: flex;
    gap: 8px;
    margin-left: 24px;
    margin-bottom: 24px;
    position: absolute;
    bottom: 0;
}

.header .dropdown-menu .facebook:hover svg path,
.header .dropdown-menu .instagram:hover svg path {
    stroke: #97D28B;
}

@media (min-width: 768px) {
	.header .dropdown-menu {
		right: 30px;
	}
}

@media (min-width: 1280px) {
	.header .dropdown-menu {
		right: 100px;
	}
}