.header .dropdown-menu {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    width: 320px;
    padding: 24px;
    top: 36px;
    min-height: calc(100vh - 72px);
    bottom: 36px;
    right: 20px;
    border-radius: 25px;
    background: rgba(23, 61, 51, 0.75);
    backdrop-filter: blur(25px);
    z-index: 1001;
    display: none;
}

.header.menu-open .dropdown-menu {
    display: block;
}

.header .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 61, 51, 0.25);
    backdrop-filter: blur(4px);
    z-index: 15;
    display: none;
}

.header .dropdown-menu.active {
    display: block;
}

.header .overlay.active {
    display: block;
}

.header .close-menu {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    margin-left: -5px;
    margin-bottom: 8px;
    cursor: pointer;
}

.close-menu:hover svg path {
    stroke: var(--light-green);
}

.close-menu:hover span {
    color: var(--light-green);
}

.menu-line{
    height: 1px;
    background-color: #fff;
    margin: 0 auto
}

.header .dropdown-menu ul {
    list-style: none;
    margin-top: 24px;
}

.header .dropdown-menu li {
    margin-top: 8px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.25);
}

li a {
    color: inherit;
}

.header .dropdown-menu ul li.active a span {
    color: var(--light-green);
}

.header .dropdown-menu ul li.active svg path {
    stroke: var(--light-green);
}

ul li.active a .active-svg {
    stroke: var(--light-green);
}

.header .dropdown-menu li span {
    margin-right: 8px;
}

.header .dropdown-menu li svg path {
    stroke: rgba(255, 255, 255, 0.25);
}

.header .dropdown-menu li:hover svg path {
    stroke: #fff;
}

.header .dropdown-menu li:hover span {
    color: #fff;
}

.header .dropdown-menu .menu-socials {
    display: flex;
    gap: 8px;
    height: 24px;
    margin-bottom: 24px;
    position: absolute;
    bottom: 0;
}

.header .dropdown-menu .menu-socials svg:hover path {
    stroke: var(--light-green);
}

.header .dropdown-menu .menu-socials svg:hover path[fill] {
    fill: var(--light-green);
}


@media (min-width: 768px) {
	.header .dropdown-menu {
		right: 30px;
	}
}

@media (min-width: 1280px) {
	.header .dropdown-menu {
		right: 100px;
        width: 365px;
        top: 24px;
        min-height: calc(100vh - 48px);
        bottom: 24px;
	}
}