

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header.scrolled {
    background-color: #fff;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin: 36px 0 36px;
    height: 40px;
}

.header-menu {
    display: flex;
    gap: 12px;
}

.logo {
    cursor: pointer;
}

.header-logo-img:hover #ecosolution {
    fill: var(--light-green);
}

.burger-icon {
    cursor: pointer;
}

.burger-icon:hover rect {
    fill: var(--light-green);
}

.getInTouch-icon {
    display: none;
}

.getInTouch-icon {
    cursor: pointer;
}

.getInTouch-icon:hover rect {
    fill: var(--dark-green);
}

.getInTouch-icon:hover path {
    fill: var(--light-green);
}

.getInTouch-icon:hover circle {
    fill: var(--light-green);
}

@media (min-width: 768px) {
    .getInTouch-icon {
      display: block;
    }
}

@media (min-width: 1280px) {
    .header-row {
        margin-top: 24px;
    }
}